.introduction {
    height: auto;
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.introduction .logo {
    padding-top: 300px;
}
.introduction .welcome {
    padding-top: 50px;
}
.introduction .studio {
    padding-top: 50px;
}
.introduction .mouse {
    padding-top: 225px;
    padding-bottom: 30px;
}
.about-us h1 {
    font-weight: bold;
}
.about-us p {
   color: black;
   font-size: 20px;
}
.services {
    height: 500px;
    background-image: url(../images/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 130px;
}
/* .services . {
    padding-top: 30px;
} */
.what-they-do h1 {
    padding: 30px;
    font-weight: bold;
}
.design {
    padding-top: 20px;
}
.design h1 {
    font-size: 20px;
    color: black;
}
.portfolio h1 {
    font-weight: bold;
}

.portfolio {
    margin-left: 100px;
    margin-right: 100px;
}

.portfolio2 {
    margin-left: 100px;
    margin-right: 100px;
}
.contact {
    background-image: url(../images/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    padding-top: 100px;
    padding-bottom: 300px;
}
.contact .for-form {
    margin-left: 200px;
    /* margin-right: 50px; */
}
 
.contact p {
    border: 2px solid white;
    margin-left: 250px;
    margin-right: 209px;
    margin-top: 30px;
    padding-left: 20px;
    padding-bottom: 300px;
    padding-top: 20px;
    margin-bottom: 100px;
}
.contact .for-form{
   padding-top: 100px;
}